.compare{display:flex;gap:10px;justify-content:center;}
img{width:100%;transition:filter 0.5s;}
figure:nth-child(2) img{filter:brightness(0.6);}
figure:hover img{filter:none;}
@media(max-width:700px){.compare{flex-direction:column;}}