*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
.header{
    position: fixed;
    height: 70px;
    color: white;
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: space-between;


}